{% extends '::base.html.twig' %}
{% block title %}
  {{parent()}} - Gallery
{% endblock %}
 {% block head_javascripts %}
  {{parent()}}
  <script type="text/javascript" src="{{ asset('bundles/content/js/jquery.fancybox.js') }}" ></script>
 {% endblock %}
 {% block stylesheets %}
   {{parent()}}
   <link href="{{ asset('bundles/content/css/jquery.fancybox.css') }}" type="text/css" rel="stylesheet" />
 {% endblock %}
 {% block body %}
      {% set i = 0 %}
     {% for image in images %}
        {% if not i % 4 %}
          <div class="row {% if not i % 8 %}odd{% else %}even{%endif%}">
        {% endif %}
              <div class="image {% if not i % 2 %}odd{% else %}even{%endif%}">
                <a rel="gallery" href="{{ asset('bundles/content/images/'~image~'-LARGE.png') }}" class="image" title="{{ image|replace({'-': ' '}) }}">
                  <img src="{{ asset('bundles/content/images/'~image~'-THUMB.png') }}" />
                </a>
              </div>
        {% if i % 4 == 3 %}
              <div class="cb"></div>
          </div>
        {% endif %}
        {% set i = 1+i %}
     {% endfor %}
 {% endblock %}
{% block javascripts %}
  {{parent()}}
   <script type="text/javascript">
     $(document).ready(function() {
      $("a.image").fancybox({
        titleShow : true,
        titlePosition: 'inside'
    });
     });  
   </script>
{% endblock %}
